*{
   
    margin: 0;
    padding: 0;
}


#wrap{
    margin: 0 auto;
    text-align: center;
}

#nheader{
    background-color: purple;
    padding: 25px;
}

H1{
    color: white;
}

#nparagraph{
    background-color: #63df6f;
    height: 350px;
    padding: 50px;
}

.text.para{
    dsfskdfsdfs
}

#footer{
    background-color: purple;
}